<footer id="footer">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="https://github.com/Mukul-code-rep">
                <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="https://www.linkedin.com/in/mukul-p-943532159/">
                <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-12">
                <a href="mailto:mp3636@drexel.edu">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
</footer>

</body>
</html>