{% include "header.html" %}

<div id="projects">
        <h2> PROJECTS </h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 colm">
                    <img src="{{ url_for('static', filename='images/blog-img.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <p>This is a fully functional webiste which can only be edited by the admin. People can register on
                    this website and put reviews on the admin's blogs.<br>
                        Integrated the functionality of <b>Flask, SQL, Jinja, HTML, CSS, Bootstrap</b> and Heroku.<br>
                    Link: <a href="https://blog-learning-project.herokuapp.com">https://blog-learning-project.herokuapp.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Built a website which uses Rest APIs to bring results. It uses all of the Search
                    APIs and around half of the Other APIs from IMDb. <b>Flask, Jinja, HTML, CSS, Bootstrap, Rest API,
                        Git</b> and Heroku were used to bring out this website. <br>
                    Link: <a href="https://imdb-api-search.herokuapp.com">https://imdb-api-search.herokuapp.com</a>
                    </p>
                </div>
                <div class="col-lg-6 colm">
                    <img src="{{ url_for('static', filename='images/imdb.jpg') }}">
                </div>
            </div>
        </div>
    </div>

{% include "footer.html" %}