{% include "header.html" %}

<div id="projects">
        <h2> PROJECTS </h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ url_for('static', filename='images/blog-img1.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <p>This is a fully functional webiste which can only be edited by the admin. People can register on
                    this website and put reviews on the admin's blogs.<br>
                    Integrated the functionality of Flask, SQL, HTML, CSS, Bootstrap and Heroku.<br>
                    Link: <a href="https://blog-learning-project.herokuapp.com">https://blog-learning-project.herokuapp.com</a></p>
                </div>
            </div>
        </div>
    </div>

{% include "footer.html" %}