{% include "header.html" %}

<div id="research" style="background-image: url({{ url_for('static', filename='images/img2.jpg') }})">
    <h2> RESEARCH </h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ url_for('static', filename='images/research-img.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <p>I'm working under Dr. Russell Neilson at Drexel University as a part-time undergraduate research
                        assistant on the project of detecting the presence of dark matter using bubble chamber.<br>
                    My project includes: <br>
                        <ul>
                            <li class="point">Running simulations on a virtual detector setup written with c++.</li>
                            <li class="point"> Making python scripts to read the output data from simulations and present knowledgeable
                            graphs using pandas library.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
</div>

{% include "footer.html" %}